* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: grey;
    align-items: center;
}

#navbar_logo {
    width: 200px;
    display: flex;
    justify-items: center;
    align-items: center;
}

#navbar_logo img {
    width: 100px;
    padding: 20px;
}

#navbar_menu {
    width: 100%;
    color: white;
    font-size: 18px;
}

#navbar_menu ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 30px;
    cursor: pointer;
    align-items: center;
}

#navbar_menu li:hover {
    background-color: black;
}

@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
    }
    #navbar_menu ul{
        flex-direction: column;
    }
}

#navbar_icon {
    width: 200px;
    display: flex;
    justify-content: center;
    gap: 7px;
}

#navbar_icon img {
    width: 30px;
}

#navbar_toggle {
    background-color: black;
    height: 400px;
    width: 100%;
    display: none;
    position: absolute;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1;
}

#navbar_menu ul:hover #navbar_toggle{
    display: block;
}

